.Footer
  .Contents
    HOMEYO produced by
    = link_to "https://github.com/sawa-sawa", class:"MyName" do
      sawa-sawa
      = image_tag 'GitHub-Mark-32px.png', alt: 'GitHub', height: '24px', width: '24px', class: 'mark'