.Header
  .UserName
    = icon('fas','bars', class: 'menu-bar', id: 'menubar')
    = current_user.name
    さん
    .Clock
      
  .UserPoints
    .UserPoints__score
      = link_to '#' do
        30  ホメ
    .UserPoints__score
      = link_to '#' do
        45  ホメラレ